body {
  background-color:gold;
}
#board {
  width:400px;
  overflow:hidden;
  margin:50px auto;
}

#board .tile {
  background:#b80000;
}

#board .tile, #board .tile img {
  display:block;
  width:100px;
  height:100px;
  float:left;
  border-radius: 50%;
}

#board .tile span {
  position: relative;
  top: -30px;
  left: 23px;
  color: white;
  visibility: hidden;
}

#board .tile img {
  visibility:hidden;
}

#board .tile.active img, #board .tile.matched img {
  visibility:visible;
}

#board .tile.active span, #board .tile.matched span {
  visibility: visible;
}

#board .tile.matched {
  opacity:0.4;
}


